#search-form {
	text-align: center;
}

#query {
	height: 20px;
	width: 200px;
	font-size: 1rem;
	border-radius: 10px;
	border: solid 1px black;
}

#submit {
	margin: 10px auto 0 auto;
	border: solid 1px black;
	width: 100px;
	border-radius: 10px;
	background-color: #7A0518;
	color: white;
	cursor: default;
}

.title {
	width: 320px;
	padding: 3px 0 3px 0;
	margin: 10px auto 0 auto;
	border: solid 1px black;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: black;
	color: white;
	
}

.image {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: solid black 1px;
	border-top: none;
}

.container {
	text-align: center;
}

.box {
	width: 49%;
	display: inline-block;
}

#search-results {
	text-align: center;
	width: 80%;
	margin: 20px auto 0 auto;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
	text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;  
}

:-ms-input-placeholder {  
	text-align: center; 
}